<% layout("main") %>
  <form method="POST">
    <div class="mb-3">
      <label class="d-block">
        <div class="form-label">Логин</div>
        <input type="text" class="form-control" name="login" value="<%= typeof fields != 'undefined' ? (fields.login || '') : '' %>">
      </label>
      <div class="form-text text-danger">
        <%= typeof errors != 'undefined' ? (errors.login || "") : "" %>
      </div>
    </div>
    <div class="mb-3">
      <label class="d-block">
        <div class="form-label">Пароль</div>
        <input type="password" class="form-control" name="password" value="<%= typeof fields != 'undefined' ? (fields.password || '') : '' %>">
      </label>
      <div class="form-text text-danger">
        <%= typeof errors != 'undefined' ? (errors.password || "") : "" %>
      </div>
    </div>
    <div class="mb-3">
      Не аккаунта? <a href="#">Зарегистрироваться</a>
    </div>
    <button type="submit" class="btn btn-primary">Войти</button>
  </form>